*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.imageHolder{
 height: 120px;
 width: 120px;
 position: relative;
box-sizing: border-box;
overflow: hidden;

}


.upload{
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0,0.3);
  z-index: 400; 
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}
.imageHolder:hover .upload{
    display:flex;
    user-select: none;
    
}
.upload input{
    display: none;
}

table tr td, table tr td img{
    vertical-align: middle;
}

form > div label::after:not(.upload > label){
    content: '*';
    color: red;
}
.upload input::before{
    content: '';
}
.btn{
    cursor: pointer !important;
}
.heading{

    background: -webkit-linear-gradient( 167deg,#1abc9c, #2980b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.7rem;
}